@model ProjetoAspNetMVC01.Presentation.Models.AccountPasswordRecoverModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Recuperação de Senha de Usuário</title>

    <!-- Folha de estilos CSS do bootstrap -->
    <link href="~/css/bootstrap.css" rel="stylesheet" />

</head>
<body class="bg-secondary">

    <div class="row">
        <div class="col-md-4 offset-md-4">

            <div class="card mt-5">

                <div class="card-body">

                    <div class="text-center">
                        <h4>Recuperação de Senha de Usuário</h4>
                        Informe o seu email para recuperar a senha.
                        <hr />
                    </div>

                    @if (TempData["MensagemSucesso"] != null)
                    {
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            <strong>Sucesso!</strong> @TempData["MensagemSucesso"]
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    }

                    @if (TempData["MensagemErro"] != null)
                    {
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <strong>Falha!</strong> @TempData["MensagemErro"]
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    }

                    @using (Html.BeginForm())
                    {
                        <label>Email de acesso:</label>
                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                        <div class="text-danger">
                            @Html.ValidationMessageFor(model => model.Email)
                        </div>
                        <br />

                        <div class="d-grid">
                            <input type="submit" value="Recuperar Senha" class="btn btn-success" />
                        </div>

                    }

                    <div class="d-grid">
                        <a href="/Account/Login" class="btn btn-light">Voltar para a página de acesso</a>
                    </div>

                </div>

            </div>

            <div class="text-center text-white mt-2">
                <small>COTI Informática - Agenda de tarefas v1.0</small>
            </div>

        </div>
    </div>

</body>
</html>
